{% extends 'items/base.html' %}
{% load custom_filters %}
{% load mathfilters %}

{% block content %}
<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<form method="post" id="create_order">
						{% csrf_token %}

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Адрес и пользовательские данные</h3>
							</div>
							{{ error_no_items|safe }}
							{% if not request.user.is_authenticated %}
							<h4><a href="{% url 'login' %}">Авторизуйтесь</a> для автоматического ввода данных</h4><br>
							{% endif %}


								<div class="form-group">
									{{ order_form.customer_first_name }}{{ order_form.customer_first_name.errors }}{{ update_form.first_name.errors}}
								</div>

								<div class="form-group">
									{{ order_form.customer_last_name }}{{ order_form.customer_last_name.errors }}{{ update_form.last_name.errors}}
								</div>
								{% if not request.user.is_authenticated  %}
								<div class="form-group">
									{{ order_form.customer_email }}{{ order_form.customer_email.errors }}{{ user_form.email.errors}}
								</div>
								{% endif %}
								<div class="form-group">
									{{ address_form.street }}{{ address_form.street.errors }}
								</div>
								<div class="row mt-2">
									<div class="col-md-4">{{ address_form.corpus }}{{address_form.corpus.errors}}</div>
									<div class="col-md-4">{{ address_form.house }}{{address_form.house.errors}}</div>
									<div class="col-md-4">{{ address_form.flat }}{{address_form.flat.errors}}</div>

								</div>
								<br>
								<div class="form-group">
									{{ address_form.city }}{{ address_form.city.errors }}
								</div>
								<div class="form-group">
									{{ address_form.country }}{{ address_form.country.errors }}
								</div>
								<div class="form-group">
									{{ address_form.postcode }}{{ address_form.postcode.errors }}
								</div>
								<div class="form-group">
									{{ order_form.customer_phone }}{{ order_form.customer_phone.errors }}{{ update_form.phone.errors}}
								</div>
								{% if not request.user.is_authenticated %}
								<div class="form-group">
									<div class="input-checkbox">
										<input type="checkbox" id="create-account" name="create_account" value="Yes" {{ checked }}>
										<label for="create-account">
											<span></span>
											Создать аккаунт?
										</label>
										<div class="caption">
											<input class="input" type="password" name="password1" placeholder="Введите ваш пароль">{{ user_form.password1.errors}}
											<input class="input" type="password" name="password2" placeholder="Введите повтор пароля">{{ user_form.password2.errors}}
											{{ user_form.non_field_errors}}
										</div>
									</div>
								</div>
								{% else %}
								<div class="form-group">
									<div class="input-checkbox">
										<input type="checkbox" id="update-account" name="update_account" value="Yes">
										<label for="update-account">
											<span></span>
											Обновить данный в профиле?
										</label>
										</div>
								</div>
								{% endif %}
							</div>
							<!-- /Billing Details -->

							<!-- Order notes -->
							<div class="order-notes">
								{{ order_form.note }}
							</div>
							<!-- /Order notes -->
						</div>
					</form>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Ваш заказ</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>Продукт</strong></div>
								<div><strong>Цена</strong></div>
							</div>
							<div class="order-products">
								{% for item in items_cart %}



									<div class="order-col">
										{% with item_id=item.pk|slugify %}
										{% with quantity=request.session.cart|get_item:item_id|get_item:"quantity" %}
										<div><span id="{{item.pk}}_quantity">{{ quantity }}</span> x {{ item }}</div>

										<div id="{{item.pk}}_value">{{ item.get_value|mul:quantity }}руб.</div>
										{% endwith %}
										{% endwith %}
									</div>

								<button type="submit" data-id="{{ item.pk }}" class="btn btn-light btn-sm minus_item"><b>-</b></button>
								<button type="submit" data-id="{{ item.pk }}" class="btn btn-light btn-sm add_item"><b>+</b></button>
								<hr>
								{% endfor %}
							</div>
							<div class="order-col">
								<div><strong>Итого</strong></div>
								<div><strong class="order-total total">{{ total_cart }}руб.</strong></div>
							</div>
						</div>

						<button type="submit" form="create_order" class="primary-btn order-submit">Купить</button>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock %}